<!--HTML用-->
<h1>パスワード再設定について</h1>

<p>以下のURLからパスワードを再設定してください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は2時間です。</p>

<p>※パスワードの再設定を行わない場合は無視してください。</p>
<p>※本メールに心当たりがない場合は無視してください。</p>
