<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% logged_in? ? @path=current_user : @path=root_path %>
    <%= link_to "sample app", @path, id: "logo" %>
    <%= render 'layouts/nav' %>
  </div>
</header>
